*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: whitesmoke;
}
.myimg img{
    height: 350px;
    width: 30%;
    border-radius: 50%;
    border: 2px solid white;
    margin: -210px 0px 0px 750px;
    border: 2px solid black;
}
nav{
    height: 60px;
    width: 100%;
    background-color: gray;
   
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    list-style: none;
    gap: 120px;
    color: limegreen;
    font-weight: bold;
    font-size: 15px;
 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav ul li{
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;

}
div h1{
    margin: 200px 0px 0px 270px;
    font-size: 19px;
}
.pass{
    height: 50px;
    width: 30%;
    margin-top: 10px;
    margin-left: 270px;
    font-size: 15px;
   
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav ul :hover{
    border-bottom: 2px solid white;
    text-decoration: none;

}
a{
    text-decoration: none;
    color: limegreen;
    text-underline-offset: unset;
}
a:hover{
    text-decoration: none;
    
}
div h1 p{
    color: rgb(255, 98, 0);
    font-weight: 700;
    font-size: 25px;
}
#sk{
  color: transparent;
}
/* //ABOUT */

#about{
    height: 300px;
    width: 80%;
    margin: 85px;
    background-color: white;
    border: 2px solid white ;
    border-radius: 5px;
    box-shadow: -1px 2px 2px 3px gray;
    font-style: italic;
   
}
.abt{
    margin: -50px 0px 0px 20px;
    position: absolute;
    border-bottom: 3px solid orange;
    font-size: 25px;
    font-weight: 500;
    font-family: sans-serif;
}
.saikumar{
    margin: 20px 0px 0px 30px;
}
/* //EDUCATION */
#educ{
    background-color: #33dba3;
    height: 800px;
    width: 100%;

}
#education{
    height: 180px;
    width: 56%;
    margin: 100px 0px 0px 100px;
    background-color: white;
    border: 2px solid white ;
    border-radius: 5px;
    position: absolute;
    box-shadow: -1px 2px 2px 3px gray; 
    transition: all 1s;
}
#education:hover{
    transform: scale(1.03);
}
.edu{
    margin: 50px 0px 0px 120px;
    position: absolute;
    border-bottom: 3px solid orange;
    font-size: 25px;
    font-weight: 500;
    font-family: sans-serif;
    }
.gates{
    gap: 10px;
    margin: 30px 0px 0px 20px;
    font-size: 17px;
    color: black;
}
.inter{
    height: 180px;
    width: 56%;
    margin: 320px 0px 0px 100px;
    background-color: white;
    border: 2px solid white ;
    border-radius: 5px;
    position: absolute;
    box-shadow: -1px 2px 2px 3px gray; 
    transition: all 1s;
}
.inter:hover{
    transform: scale(1.03);
}


.scholl{
    height: 180px;
    width: 56%;
    margin: 550px 0px 0px 100px;
    background-color: white;
    border: 2px solid white ;
    border-radius: 5px;
    position: absolute;
    box-shadow: -1px 2px 2px 3px gray; 
    transition: all 1s;
}
.scholl:hover{
    transform: scale(1.03);
}

h3{
    padding: 3px;
}
/* //SKILLS */
#skilss{
    height: 800px;
    width: 80%;
    /* background-color: lawngreen; */
    margin: 30px 0px 0px 120px;
    border :2px solid white;
    border-radius: 15px;
    box-shadow: 1px 1px 3px 3px burlywood;  
}
.line{
    height:1px;
    width: 80%;
    background-color: black;
    margin: 30px 0px 0px 120px; 

}
.skill{
    margin: 40px 0px 0px 80px;
    position: absolute;
    border-bottom: 3px solid lightsalmon;
    font-size: 25px;
    font-weight: 500;
    font-family: sans-serif;
}
.pl{
    height: 250px;
    width: 30%;
    border: 2px solid transparent;
    border-radius: 7px;
    float: right;
    background-color: burlywood;
   
    margin:  100px 100px 0px 100px;
}
.imgs{
    border :2px solid white;
    border-radius: 3px;
    height: 120px;
    width: 40%;
    margin: 35px 0px 0px 18px;
}
.pls{
    font-size: 20px;
    font-style: oblique;
    font-weight: bold;
    border-bottom: 3px solid orange;
    margin: 20px 0px 0px 30px;
}

/* //PROJECTS */
#projectsss{
    height: 990px;
    width: 100%;
    margin-top: 20px;
    background-color: cadetblue;
}
.ps{
    margin: 30px 0px 0px 80px;
    position: absolute;
    border-bottom: 3px solid lightgreen;
    font-size: 25px;
    font-weight: 500;
    font-family: sans-serif;
}
.pjs{
    height: 400px;
    width: 30%;
    float: left;
    margin: 80px 0px 0px 20px;
    border :1.4px solid white;
    border-radius: 3px;
    background-color: chartreuse;
}
.pimgs
{
    height: 210px;
    width: 100%;
}
.ppls
{
    font-size: 15px;
    font-style: oblique;
    margin: 20px 0px 0px 20px;
    padding: 2px;
}
.gl
{
    background-color: black;
    color: white;
    height: 40px;
    width: 25%;
    padding-top: 10px ;
    padding-left: 6px;
    border: 1.7px solid white;
    border-radius: 4px;
    margin: 15px 0px 0px 120px;

}

@media screen and (max-width: 376px) {

    
nav{
    height: 40px;
    width: 80%;
    background-color: gary;
    margin: 35px 20px 0px 30px;
    border: 3px solid ;
    border-radius: 20px;
    position: sticky;
    top:0px;
  
    
}

nav ul{
    margin-top: 100px;
    border: 1px solid greenyellow;
    border-radius: 15px;
   
}
.name{
    margin: -282px 100px 0px 30px;
    color: white;
    font-size: 20px;
    position: sticky;
    font-style: oblique;  

}
#bar{
    height: 20px;
    width: 12%;
    display: block;
    position: sticky;
    margin: -342px 0px 0px 220px;
   
}
.lines{
    background-color: black;
    height: 2px;
    width: 70%;
    margin: 5px 0px 0px 53px; 
}
#closing{
    height: 20px;
    width: 12%;
    display: block;
    margin:-18px 0px 0px 270px;
}
.wrongs{
    background-color: black;
    height: 2px;
    width: 30%;
    border: 1px solid transparent;
    border-radius: 2px;
    margin: -332px 0px 0px 20px; 
    position: sticky;
    transform: skew(-20deg,54deg);
}

.wrong{
    background-color: black;
    height: 2px;
    width: 29%;
    position: sticky;
    border: 1px solid transparent;
    border-radius: 3px;
    margin: -1px 0px 0px 20px; 
    transform: skew(30deg,-58deg);
}
#open {
    flex-direction: column;
    background-color: black;
    opacity: 0.8;
    height: 260px;
    width: 50%;
    margin: 45px 0px 0px 119px;
    gap:5px;
    z-index:1;
  
    
}
#opendiv
{
    display: none;
}
nav ul li{
    padding: 3px;
   
   

}
.close i{
    color: green;
    font-size: 20px;
    margin-top: -200px; 
}

/* //content */
.hi{
    margin: 200px 0px 0px 30px;
    /* display: none; */
}

.pass{
    margin-top: 60px;
    margin-left: 30px;
    width: 70%;
    /* display: none; */
}
 
.myimg img{
    height:160px;
    width: 35%;
    border-radius: 50%;
    border: 2px solid white;
    margin: -290px 0px 0px 110px;
    border: 2px solid black;
    position: absolute;
    z-index: -1;
}
#sk{
    margin: 262px 120px 0px 77px;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 40px;
    z-index: -2;
    font-weight: bold;
    font-size: 20px;
    width: 30%;
}

/* //ABOUT */

#about{
    height: 680px;
    width: 80%;
    background-color: white;
    border: 2px solid white ;
    border-radius: 5px;
    margin: 280px 0px 0px 20px;
    box-shadow: -1px 2px 2px 3px gray;
    font-style: italic;
   
}
/* //EDUCATION */

#educ{
    background-color: #33dba3;
    height: 800px;
    width: 100%;
    margin-top: 25px;

}

.edu{
    margin: 50px 0px 0px 20px;
    position: absolute;
    border-bottom: 3px solid orange;
    font-size: 20px;
    font-weight: 500;
    font-family: sans-serif;
    }

#education{
    height: 180px;
    width: 76%;
    margin: 100px 0px 0px 30px;
  
}

#education:hover{
    transform: scale(1.03);
}

.gates{
    gap: 10px;
    margin: 30px 0px 0px 20px;
    font-size: 17px;
    color: black;
}
.inter{
    height: 180px;
    width: 76%;
    margin: 320px 0px 0px 30px;
    background-color: white;
    border: 2px solid white ;
    border-radius: 5px;
    position: absolute;
    box-shadow: -1px 2px 2px 3px gray; 
    transition: all 1s;
}
.inter:hover{
    transform: scale(1.03);
}


.scholl{
    height: 180px;
    width: 76%;
    margin: 550px 0px 0px 30px;
    background-color: white;
    border: 2px solid white ;
    border-radius: 5px;
    position: absolute;
    box-shadow: -1px 2px 2px 3px gray; 
    transition: all 1s;
}
.scholl:hover{
    transform: scale(1.03);
}

h3{
    padding: 1px;
}

/* //SKILLS */

#skilss{
    height: 1260px;
    width: 80%;
    /* background-color: lawngreen; */
    margin: 30px 0px 0px 20px;
    box-shadow: 1px 2px 2px 2px burlywood;  
}
.line{
    height:1px;
    width: 80%;
    background-color: black;
    margin: 20px 0px 0px 30px; 

}
.skill{
    margin: 20px 0px 0px 20px;
    position: absolute;
    border-bottom: 3px solid orange;
    font-size: 20px;
    font-weight: 500;
    font-family: sans-serif;
}
.pl{
    height: 250px;
    width: 90%;
    border: 2px solid transparent;
    border-radius: 7px;
    float: right;
    background-color: burlywood;
    margin:  60px 15px 0px 0px;
}

/* //PROJECTS */
#projectsss{
    height: 1790px;
    width: 100%;
    margin-top: 20px;
    background-color: cadetblue;
}
.ps{
    margin: 30px 0px 0px 40px;
    position: absolute;
    border-bottom: 3px solid lightgreen;
    font-size: 20px;
}
.pjs{
    height: 320px;
    width: 82%;
    float: left;
    margin: 70px 0px 0px 40px;
   
}
.pimgs
{
    height: 180px;
    width: 100%;
}
.ppls
{
    font-size: 13px;
    font-style: oblique;
    margin: 17px 0px 0px 10px;
    padding: 2px;
}
.gl
{
    background-color: black;
    color: white;
    height: 40px;
    width: 35%;
    padding-top: 10px ;
    padding-left: 6px;
    border: 1.7px solid white;
    border-radius: 4px;
    margin: -10px 0px 0px 80px;

}
}