*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: whitesmoke;
}
.myimg img{
    height: 350px;
    width: 30%;
    border-radius: 50%;
    border: 2px solid white;
    margin: -210px 0px 0px 750px;
    border: 2px solid black;
}
nav{
    height: 60px;
    width: 100%;
    background-color: gray;
   
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    list-style: none;
    gap: 120px;
    color: limegreen;
    font-weight: bold;
    font-size: 15px;
 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav ul li{
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;

}
div h1{
    margin: 200px 0px 0px 270px;
    font-size: 19px;
}
.pass{
    height: 50px;
    width: 30%;
    margin-top: 10px;
    margin-left: 270px;
    font-size: 15px;
   
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav ul :hover{
    border-bottom: 2px solid white;
    text-decoration: none;

}
a{
    text-decoration: none;
    color: limegreen;
    text-underline-offset: unset;
}
a:hover{
    text-decoration: none;
    
}
div h1 p{
    color: rgb(255, 98, 0);
    font-weight: 700;
    font-size: 25px;
}
#sk{
  color: transparent;
}
/* //ABOUT */

#about{
    height: 350px;
    width: 80%;
    margin: 85px;
    background-color: white;
    border: 2px solid white ;
    border-radius: 5px;
    box-shadow: -1px 2px 2px 3px gray;
    font-style: italic;
   
}
.abt{
    margin: -50px 0px 0px 20px;
    position: absolute;
    border-bottom: 3px solid orange;
    font-size: 25px;
    font-weight: 500;
    font-family: sans-serif;
}
.saikumar{
    margin: 20px 0px 0px 30px;
}
/* //EDUCATION */
#educ{
    background-color: #33dba3;
    height: 800px;
    width: 100%;

}
#education{
    height: 180px;
    width: 56%;
    margin: 100px 0px 0px 100px;
    background-color: white;
    border: 2px solid white ;
    border-radius: 5px;
    position: absolute;
    box-shadow: -1px 2px 2px 3px gray; 
    transition: all 1s;
}
#education:hover{
    transform: scale(1.03);
}
.edu{
    margin: 50px 0px 0px 120px;
    position: absolute;
    border-bottom: 3px solid orange;
    font-size: 25px;
    font-weight: 500;
    font-family: sans-serif;
    }
.gates{
    gap: 10px;
    margin: 30px 0px 0px 20px;
    font-size: 17px;
    color: black;
}
.inter{
    height: 180px;
    width: 56%;
    margin: 320px 0px 0px 100px;
    background-color: white;
    border: 2px solid white ;
    border-radius: 5px;
    position: absolute;
    box-shadow: -1px 2px 2px 3px gray; 
    transition: all 1s;
}
.inter:hover{
    transform: scale(1.03);
}


.scholl{
    height: 180px;
    width: 56%;
    margin: 550px 0px 0px 100px;
    background-color: white;
    border: 2px solid white ;
    border-radius: 5px;
    position: absolute;
    box-shadow: -1px 2px 2px 3px gray; 
    transition: all 1s;
}
.scholl:hover{
    transform: scale(1.03);
}

h3{
    padding: 3px;
}
/* //SKILLS */
#skilss{
    height: 500px;
    width: 70%;
    margin: 30px 0px 0px 170px;
    border :2px solid white;
    border-radius: 15px;
    box-shadow: 1px 1px 3px 3px gray;  
}
.line{
    height:1px;
    width: 80%;
    background-color: black;
    margin: 30px 0px 0px 120px; 

}
.skill{
    margin: 40px 0px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 500;
    font-family: sans-serif;
}
.pl{
    height: 150px;
    width: 15%;
    border: 2px solid transparent;
    border-radius: 7px;
    float: right;
    box-shadow: 2px 1px 2px 2px gray; 
    background-color: whitesmoke;
    margin:  50px 100px 0px 0px;
}
.pl:hover{
    transform: scale(1.03);
}
.imgs{
    
    border-radius: 3px;
    height: 120px;
    width: 84%;
    margin: 10px 0px 0px 9px;
}
.pls{
    font-size: 17px;
    font-style: oblique;
    font-weight: bold;
    margin: -20px 0px 0px 40px;
}

.plss{
    font-size: 17px;
    font-style: oblique;
    font-weight: bold;
    margin: -8px 0px 0px 50px;

}

/* //PROJECTS */
#projectsss{
    height: 900px;
    width: 100%;
    margin-top: 20px;
    background-color: cadetblue;
}
.ps{
    margin: 30px 0px 0px 80px;
    position: absolute;
    border-bottom: 3px solid lightgreen;
    font-size: 25px;
    font-weight: 500;
    font-family: sans-serif;
}
.pjs{
    height: 300px;
    width: 30%;
    float: left;
    margin: 80px 0px 0px 20px;
    border :1.4px solid white;
    border-radius: 3px;
    background-color: rgba(128, 255, 0, 0.769);
}
.pimgs
{
    height: 210px;
    width: 100%;
}
.ppls
{
    font-size: 15px;
    font-style: oblique;
    margin: 20px 0px 0px 20px;
    padding: 2px;
}
.gl
{
    background-color: black;
    color: white;
    height: 40px;
    width: 25%;
    padding-top: 10px ;
    padding-left: 6px;
    border: 1.7px solid white;
    border-radius: 4px;
    margin: 15px 0px 0px 120px;

}

#bar{
    display: none;
}

#wrongs{
    display: none;
}

@media (max-width: 462px){

    
nav{
    height: 40px;
    width: 80%;
    background-color: gary;
    margin: 25px 20px 0px 30px;
    border: 3px solid ;
    border-radius: 20px;
    position: fixed;
    top:7px;
    z-index: 1;
    
}

nav ul{
    margin-top: 100px;
    border: 1px solid greenyellow;
    border-radius: 25px;
   
   
}
.name{
    margin: 30px 100px 0px 30px;
    color:whitesmoke;
    font-size: 20px;
    position: fixed;
    top: 10px;
    z-index:2;
    font-style: oblique;  

}
#bar{
    height: 20px;
    width: 12%;
    position: fixed;
    display: block;
    z-index: 2;
    font-size: 18px;
    margin: -367px 0px 0px 290px;
   
}
/* .lines{
    background-color: black;
    height: 2px;
    width: 70%;
    margin: 5px 0px 0px 53px; 
} */
#closing{
    height: 20px;
    width: 12%;
    /* display: none; */
    position: absolute;
    z-index: 2;
    margin:-365px 0px 0px 270px;
}
#wrongs{
  display: none;
}

#open {
    flex-direction: column;
    background-color: black;
    opacity: 0.8;
    height: 360px;
    width: 100%;
    margin: 45px 0px 0px -7px;
    gap:17px;
    font-size: 17px;
    z-index:1;
  
    
}
#opendiv
{
    display: none;
    width: 105%;
}
nav ul li{
    padding: 3px;

}
.close i{
    color: green;
    font-size: 20px;
    margin-top: -200px; 
}

/* //content */
.hi{
    margin: 250px 0px 0px 30px;
    /* display: none; */
}

.pass{
    margin-top: 60px;
    margin-left: 30px;
    width: 70%;
    /* display: none; */
}
 
.myimg img{
    height:160px;
    width: 35%;
    border-radius: 50%;
    border: 2px solid white;
    margin: -300px 0px 0px 110px;
    border: 2px solid black;
    position: absolute;
    z-index: -1;
}
#sk{
   top: 80px;
   color: black;
   font-size: 20px;
   font-weight: bold;
   margin-left: 28px;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   position: absolute;
}

/* //ABOUT */

#about{
    height: 680px;
    width: 80%;
    background-color: white;
    border: 2px solid white ;
    border-radius: 5px;
    margin: 240px 0px 0px 20px;
    box-shadow: -1px 2px 2px 3px gray;
    font-style: italic;
    position: relative;
    z-index: -3;
   
}
/* //EDUCATION */

#educ{
    background-color: #33dba3;
    height: 800px;
    width: 100%;
    margin-top: 25px;

}

.edu{
    margin: 50px 0px 0px 20px;
    position: absolute;
    border-bottom: 3px solid orange;
    font-size: 20px;
    font-weight: 500;
    font-family: sans-serif;
    }

#education{
    height: 180px;
    width: 76%;
    margin: 100px 0px 0px 30px;
  
}

#education:hover{
    transform: scale(1.03);
}

.gates{
    gap: 10px;
    margin: 30px 0px 0px 20px;
    font-size: 17px;
    color: black;
}
.inter{
    height: 180px;
    width: 76%;
    margin: 320px 0px 0px 30px;
    background-color: white;
    border: 2px solid white ;
    border-radius: 5px;
    position: absolute;
    box-shadow: -1px 2px 2px 3px gray; 
    transition: all 1s;
}
.inter:hover{
    transform: scale(1.03);
}


.scholl{
    height: 180px;
    width: 76%;
    margin: 550px 0px 0px 30px;
    background-color: white;
    border: 2px solid white ;
    border-radius: 5px;
    position: absolute;
    box-shadow: -1px 2px 2px 3px gray; 
    transition: all 1s;
}
.scholl:hover{
    transform: scale(1.03);
}
h3{
    padding: 1px;
}

/* //SKILLS */

#skilss{
    height: 1100px;
    width: 80%;
    margin: 30px 0px 0px 20px;
    box-shadow: 1px 2px 2px 2px gary;  
}
.line{
    height:1px;
    width: 80%;
    background-color: black;
    margin: 20px 0px 0px 30px; 

}
.pl{
    height: 140px;
    width: 50%;
    border: 2px solid transparent;
    border-radius: 7px;
    background-color: whitesmoke;
    box-shadow: 2px 1px 2px 2px gray; 
    margin:  24px 75px 0px 0px;
    
}
.plss{
    margin-top: -15px;
}

.pl:hover{
    transform: scale(1.03);
}

/* //PROJECTS */
#projectsss{
    height: 1690px;
    width: 100%;
    margin-top: 20px;
    background-color: cadetblue;
}
.ps{
    margin: 30px 0px 0px 20px;
    position: absolute;
    border-bottom: 3px solid lightgreen;
    font-size: 20px;
}
.pjs{
    height: 220px;
    width: 82%;
    float: left;
    margin: 70px 0px 0px 30px;
   
}
.pimgs
{
    height: 160px;
    width: 100%;
}
.ppls
{
    font-size: 13px;
    font-style: oblique;
    margin: 17px 0px 0px 10px;
    padding: 2px;
}
.gl
{
    background-color: black;
    color: white;
    height: 40px;
    width: 35%;
    padding-top: 10px ;
    padding-left: 6px;
    border: 1.7px solid white;
    border-radius: 4px;
    margin:5px 0px 0px 90px;

}
#sk{
    margin-top: 230px;
}
}
